body{
    margin: 0;
    padding: 0;
    display: inline;
    background-color: darkslategrey;
}


nav {
    position: sticky;
    background-color: rgb(36, 36, 206);
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    height: 8vh;
    top: 0;

    
}

button{
    border-color: rgb(64, 112, 216);
    border-style: solid;
    
    border-width: 1px;
    border-top: 0;
    border-bottom: 0;
    
  
    border-color: rgb(125, 240, 125);
    background-color: rgb(6, 156, 156);
    position: relative;
    height: 80%;
    width: 19%;
    margin-right: 0;
    margin-left: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(7, 46, 39);
}

#first-nav-button{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-width: 3px;
}

#last-nav-button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right-width: 3px;
}

#hero{
    display:flex;
    height: 90vh;
    width: 100vw;
    overflow-x: scroll;
    
}
.column{
    padding: 0 4px;
    width: 100vw;
    flex: 10%;
    
}

.hero-image{
    height: 100%;

}
